/*
This file is released to the public domain.
*/

/* Style for WEBRING */
.org-webring .org-webring-articles {
    display: flex;
}
.org-webring .org-webring-article-title {
    margin: 0;
    width: 90%;
}
.org-webring .org-webring-article {
    flex: 1 1 auto;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 0.1rem grey solid;
    border-color: grey;
    transition: 0.3s;
    opacity: 1;
}
.org-webring .org-webring-article:hover {
    opacity: 1;
    background-color: #2e2e2e;
}
.org-webring .org-webring-article-pinned {
    position: relative;
    flex: 1 1 auto;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border: 0.15rem grey solid;
    border-color: grey;
    transition: 0.3s;
    opacity: 1;
}
.org-webring .org-webring-article-pinned:hover {
    opacity: 1;
    background-color: #2e2e2e;
}
.org-webring .org-webring-article-pinned-symbol{
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}
.org-webring .org-webring-article-summary {
    font-size: 0.8rem;
    flex: 1 1 0;
}
.org-webring .org-webring-attribution {
    text-align: right;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    color: #e3dada;
}
.org-webring .org-webring-article-date {
    text-align: right;
    color: whitesmoke;
}
.org-webring .org-webring-article-source {
    text-align: right;
    color: whitesmoke;
}
.org-webring .org-webring-timestamp {
    color: #e3dada;
}
@media screen and (max-width: 600px) {
    .org-webring .org-webring-articles {
	    display: flex;
	    flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .org-webring .org-webring-article {
	    flex: 1 1 auto;
        flex-basis: 100%;
	    display: flex;
	    flex-direction: column;
	    margin: 0 0.5rem;
	    margin-bottom: 0.5rem;
	    padding: 0.5rem;
	    border: 0.1rem grey solid;
	    border-color: grey;
    }
    .org-webring .org-webring-article-pinned {
        position: relative;
        flex: 1 1 auto;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border: 0.15rem grey solid;
        border-color: grey;
        transition: 0.3s;
        opacity: 1;
    }
}

/* Style for PLANET */
.org-webring-planet .org-webring-articles {
    display: flex;
    flex-direction: column;
}
.org-webring-planet .org-webring-article-title {
    margin: 0;
}
.org-webring-planet .org-webring-article {
	flex: 1 1 auto;
    flex-basis: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-bottom: 0.1rem grey solid;
	border-color: grey;
}
.org-webring-planet .org-webring-article-summary {
    font-size: 0.8rem;
    flex: 1 1 0;
}
.org-webring-planet .org-webring-attribution {
    text-align: right;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    color: #666;
}
.org-webring-planet .org-webring-article-date {
    text-align: right;
    color: whitesmoke;
}
.org-webring-planet .org-webring-article-source {
    text-align: right;
    color: whitesmoke;
}
.org-webring-planet .org-webring-timestamp {
    color: #e3dada;
}
.org-webring-planet .org-webring-feed-url {
    color: #e3dada;
}
.org-webring-planet .column-left {
    float: left;
    width: 70%;
    margin-right: 4px;
}
.org-webring-planet .column-right {
    float: right;
    width: 25%
}
@media only screen and (max-width: 600px) {
    .org-webring-planet .column-left {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .org-webring-planet .column-right {
        width: 100%;
        margin-left: 2rem;
        padding-bottom: 10px;
        float: none;
    }
}
